extends base
include _mixin

block content 
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

    .heading-box
        h1.heading-primary
            span= `${tour.name}`
        .heading-box__group
            .heading-box__detail
                svg.heading-box__icon
                    use(xlink:href='/img/icons.svg#icon-clock')
                span.heading-box__text= `${tour.duration} дня (дней)` 
            .heading-box__detail
                svg.heading-box__icon
                    use(xlink:href='/img/icons.svg#icon-map-pin')
                span.heading-box__text= tour.startLocation.description

    section.section-description
        .overview-box
            div
            .overview-box__group
                h2.heading-secondary.ma-bt-lg Короткие факты

                - const date =  tour.startDates[0].toLocaleString('ru-ru', {month: 'long', year: 'numeric'})
                +overviewBox('Следующая дата', date, 'calendar')
                +overviewBox('Сложность', tour.difficulty, 'trending-up')
                +overviewBox('Максимальное количество участников', `${tour.maxGroupSize} людей`, 'user')
                +overviewBox('Рейтинг', `${tour.ratingsAverage} / 5`, 'star')


                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Гиды вашего тура

                    each guide in tour.guides
                        .overview-box__detail
                            img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)

                            - if (guide.role === 'lead-guide')
                                span.overview-box__label Ведущий гид
                            - if (guide.role === 'guide')
                                span.overview-box__label Гид
                            span.overview-box__text= guide.name

        .description-box
            h2.heading-secondary.ma-bt-lg= `Про тур: "${tour.name}"`
            - const paragraphs = tour.description.split('/n')
            each p in paragraphs
                p.description__text= p 

    section.section-pictures
        each img, i in tour.images
            .picture-box
                img.picture-box__img(src=`/img/tours/${img}`, alt=`The Park Camper Tour ${i + 1}`, 
                class=`.picture-box__img--${i + 1}`)


    section.section-map
        #map

    section.section-reviews
        .reviews
            each review in tour.reviews
                +reviewCard(review) 

    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='/img/logo-white.png', alt='Natours logo')
            img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt=`Картинка тура`)
            img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Картинка тура')
            .cta__content
                h2.heading-secondary Что вас заставляет медлить?
                p.cta__text= `${tour.duration } дня. 1 приключение. Незабываемые воспоминания. Сделай это сегодня!`
                button.btn.btn--green.span-all-rows Забронировать сейчас